* { 
    font-family: Garamond, Georgia, serif;
    /* margin: 0;
    padding: 0; */
}

html {
    scroll-behavior: smooth;

}
body {
    background-image: url("./Images/vivid-background.jpg");
    background-color: black;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-size: 1.2em;
}

main {
    margin-left: 20%;
}

section{
    height: 100vh;
    margin: 0% 5%;
    border: 1px solid black;
}

footer {
    font-size: 0.75rem;
    margin-left: 20%;
}

.sidebar {
    width: 20%;
    background-color:rgba(38, 38, 38, 0.75);
    height: 100vh;
    position: fixed;
    margin-left: 0%;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: right;
}
.sidebar li {
    list-style-type: none;
    padding: 0.5rem 0;
    font-size: 2.5vw;
}

.sidebar li a {
    padding: 0.25rem 0.50rem;
    border-radius: 3px;
    text-decoration: none;
    color: antiquewhite;


}
.sidebar li a:hover {
    color:rgba(38, 38, 38, 100);
}


#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#name {
    padding: 2%;
    color: antiquewhite;
}

#name p {
    text-align: right;
    font-style: italic;
    font-size: 1rem;
    margin-top: 0;

}
#name h1 {
    font-size: 6.5vw;
    margin-bottom: 0;
    text-shadow: 2px 2px black;
}

#social {
    margin-top: 10%;
    text-align: center;
}


#social span {
    margin: 0% 2%;
}


#cvContainer {
    border-radius: 1rem;
    margin: 5% 5%;
    padding: 0 1rem 1rem;
    height: 75%;
    background-color: antiquewhite;
    overflow: scroll;
}

#langs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#langInner {
    margin: 0% 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#langInner img {
    margin-right: 0.50vw;
    height: auto;
    width: 3.5vw;
}
#langInner p {
    margin: 0;
    font-size: 1vw;
}

#cv h3 {
    margin-bottom: 0;
}

hr {
    border-top: .15rem solid black;
    margin-top: 0;
}


.itacilize { 
    font-style: italic;
}
.bold {
    font-weight: bold;
}